{% extends 'base.html.twig' %}
{% block load %}onload="ajax()"{% endblock %}
{% block body %}
    {#{{ dump(app.session.get('ekspert')) }}{{ dump(app.session.get('moderator')) }}{{ dump(app.session.get('stage')) }}#}

    <div class="container col-md-8">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Panel eksperta</div>
                {#{{ dump(app.session.get('stage')) }}#}
                {% if app.session.get('stage') != 'logged' %}
                <div class="panel-body"  id="login">
                    <div id="taken" style="display:none;">already taken</div>
                       {{ form_start(visitor_form) }}
                        {{ form_widget(visitor_form.name,{'attr':{'class':"form-control", 'placeholder':"Name"}}) }}
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Enter</button>
                    </span>
                        {{ form_end(visitor_form) }}
                    {% for flashMessage in app.session.flashbag.get('error') %}

                        {{ flashMessage }}

                    {% endfor %}
                </div>

                {% endif %}


                {% if app.session.get('stage') == 'logged' %}

                <div class="panel-body" id="chat" style="display:block;">
                    <div id="log">
                    <div class="container" id="messages">
{#                         {% for chat in chatLog %}
                        <div class="row message-bubble">
                            <p class="text-muted">{{ chat.author }}</p>
                            <span>{{ chat.msg }}</span>
                        </div>
                         {% endfor %}#}
                    </div>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            {#<input type="text" class="form-control">#}
                           {{ form_start(message_form) }}
                            {{ form_widget(message_form.msg,{ 'attr': {'class': "form-control",
                                'placeholder': "Type here..."} }) }}
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Send</button>
                  </span>
                            {{ form_end(message_form) }}

                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="container col-md-4">
        {% if app.session.get('visitor') != null %}

        <div class="panel-body" id="chat" style="display:block;">
            {% else %}
            <div class="panel-body" id="chat" style="display:none;">

                {% endif %}

                {% if app.session.get('stage') != null and app.session.get('moderator') != null %}
                <div id="log">

                <div class="container" id="sent">
                </div>


                </div>
                <div style="display:none;">
                <form id="form" action="{{ path('justicehammer') }}" method="POST">
                <span class="input-group-btn">
                    Type message id:
                    <input id="id-allow" name="msg1_id" type="text" class="form-control" placeholder=" ID of good message">
                    <button id="allow" class="btn btn-default" type="submit" {#onclick="allow()"#}>Allow</button>
                </span>
                </form>
                <form id="form2" action="{{ path('justicehammer') }}" method="POST">
                <span class="input-group-btn">
                    Type message id:
                    <input id="id-reject" name="msg2_id" type="text" class="form-control" placeholder="ID of wrong message">
                    <button id="reject" class="btn btn-default" type="submit" {#onclick="allow()"#}>Reject</button>
                </span>
                </form>
                </div>
            </div>
                {% endif %}

        </div>
    </div>

{% endblock %}

{#{% endblock %}#}

{% block stylesheets %}
    {{ parent() }}
<style>
    .btn{
        float:left;
    }
    .message-bubble
    {
        padding: 10px 0px 10px 0px;
    }
    #log{
        max-height: 400px;
        overflow: scroll;
    }
    .message-bubble:nth-child(even) { background-color: #F5F5F5; }

    .message-bubble > *
    {
        padding-left: 10px;
    }

    .panel-body { padding: 0px; }

    .panel-heading { background-color: #3d6da7 !important; color: white !important; }
</style>
{% endblock %}
{% block javascripts %}
{#    TODO: Dostosować skrypt /, dodać funkcje,
    TODO: Spiąć skrypt akceptacja/odrzucenie #}
    {{ parent() }}
{{ include('ajax/expert.html.twig') }}
{% endblock %}