{% extends 'base.html.twig' %}
{% block load %}onload="ajax()"{% endblock %}
{% block body %}

    <div class="container col-md-8">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                {% if app.session.get('visitor') == null %}

                <div class="panel-body"  id="login">
                    <div id="taken" style="display:none;">already taken</div>
                       {{ form_start(visitor_form) }}
                        {{ form_widget(visitor_form.name,{'attr':{'class':"form-control", 'placeholder':"Name"}}) }}
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Enter</button>
                    </span>
                        {{ form_end(visitor_form) }}
                </div>
                {% endif %}
                {% if app.session.get('visitor') != null %}

                <div class="panel-body" id="chat" style="display:block;">
                {% else %}
                <div class="panel-body" id="chat" style="display:none;">

                 {% endif %}

                    <div class="container" id="log">
                    <div id="messages">

                    </div>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            {#<input type="text" class="form-control">#}
                           {{ form_start(message_form) }}
                            {{ form_widget(message_form.msg,{ 'attr': {'class': "form-control",
                                'placeholder': "Type here..."} }) }}
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Send</button>
                  </span>
                            {{ form_end(message_form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-md-4">
                {% if app.session.get('visitor') != null %}

                <div class="panel-body" id="chat" style="display:block;">
                {% else %}
                <div class="panel-body" id="chat" style="display:none;">

                 {% endif %}

                    <div class="container">
                        <div id="user-log">

                        </div>
                    </div>

                </div>
            </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
    .container{
        overflow: hidden;
    }
    #log{
        max-height: 400px;
        overflow: scroll;
    }
    #user-log{
        padding-left:20px;
        max-height: 550px;
        overflow: scroll;
    }
    .message-bubble
    {
        padding: 10px 0px 10px 0px;
    }

    .message-bubble:nth-child(even) { background-color: #F5F5F5; }

    .message-bubble > *
    {
        padding-left: 10px;
    }

    .panel-body { padding: 0px; }

    .panel-heading { background-color: #3d6da7 !important; color: white !important; }
</style>
{% endblock %}
{% block javascripts %}

    {{ parent() }}
    {{ include('ajax/home.html.twig') }}


{% endblock %}