<script>
var request;
function allow(id) {
    $('#message-'+id).hide();
    $('#id-allow').val(id);
    $("#allow").trigger("click");
    $('#id-allow').val('');
}
function reject(id) {
    $('#message-'+id).hide();
    $('#id-reject').val(id);
    $("#reject").trigger("click");
    $('#id-reject').val('');
}

//        $(document).ready(function(){


// Bind to the submit event of our form
$("#form").on('submit', function (event) {

// Prevent default posting of form - put here to work in case of errors
event.preventDefault();

// Abort any pending request
if (request) {
request.abort();
}
// setup some local variables
var $form = $(this);

// Let's select and cache all the fields
var $inputs = $form.find("input, button");

// Serialize the data in the form
var serializedData = $form.serialize();

var postForm = { //Fetch form data
'ok': $('input[name=msg1_id]').val() //Store name fields value
//                        'change': $('button[name=change-' + c + ']').val()
};
//                        console.log(postForm);
// Let's disable the inputs for the duration of the Ajax request.
// Note: we disable elements AFTER the form data has been serialized.
// Disabled form elements will not be serialized.
$inputs.prop("disabled", true);
$('#id-allow').val('');

// Fire off the request to /form.php
request = $.ajax({
url: "{{ path('justicehammer') }}",
type: "post",
data: postForm
//                    async: false //tymczasowo

//                            cache: false
});
// Callback handler that will be called on success
request.done(function (response, textStatus, jqXHR) {
// Log a message to the console
//                            console.log(jsonresponse);
if (response == 100) {
console.log('faktycznie');
}

//                        $('#message-' + c).hide(600);


});
// Callback handler that will be called on failure
request.fail(function (jqXHR, textStatus, errorThrown) {
// Log the error to the console
console.error(
"The following error occurred: " +
textStatus, errorThrown
);
console.log(serializedData.valueOf('button'));
});

// Callback handler that will be called regardless
// if the request failed or succeeded
request.always(function () {
// Reenable the inputs
$inputs.prop("disabled", false);
});

});
$("#form2").on('submit', function (event) {

// Prevent default posting of form - put here to work in case of errors
event.preventDefault();

// Abort any pending request
if (request) {
request.abort();
}
// setup some local variables
var $form = $(this);

// Let's select and cache all the fields
var $inputs = $form.find("input, button");

// Serialize the data in the form
var serializedData = $form.serialize();

var postForm = { //Fetch form data
'no': $('input[name=msg2_id]').val() //Store name fields value
//                      'change': $('button[name=change2-' + c + ']').val()
};
//                        console.log(postForm);
// Let's disable the inputs for the duration of the Ajax request.
// Note: we disable elements AFTER the form data has been serialized.
// Disabled form elements will not be serialized.
$inputs.prop("disabled", true);
$('#id-reject').val('');

// Fire off the request to /form.php
request = $.ajax({
url: "{{ path('justicehammer') }}",
type: "post",
data: postForm
//                    async: false //tymczasowo

//                            cache: false
});
// Callback handler that will be called on success
request.done(function (response, textStatus, jqXHR) {
// Log a message to the console

if (response == 100) {
console.log('faktycznie');
}

//                            console.log($(this));
//                        $('#message' + c).hide(600);


});
// Callback handler that will be called on failure
request.fail(function (jqXHR, textStatus, errorThrown) {
// Log the error to the console
console.error(
"The following error occurred: " +
textStatus, errorThrown
);
console.log(serializedData.valueOf('button'));
});

// Callback handler that will be called regardless
// if the request failed or succeeded
request.always(function (jqXHR) {
// Reenable the inputs
$inputs.prop("disabled", false);
});

});


$("#chat-form").on('submit', function (event) {

// Prevent default posting of form - put here to work in case of errors
event.preventDefault();

// Abort any pending request
if (request) {
request.abort();
}
// setup some local variables
var $form = $(this);

// Let's select and cache all the fields
var $inputs = $form.find("input, button");

// Serialize the data in the form
var serializedData = $form.serialize();

var postForm = { //Fetch form data
'msg' : $('#chat_msg').val() //Store name fields value
};
//                        console.log(postForm);
// Let's disable the inputs for the duration of the Ajax request.
// Note: we disable elements AFTER the form data has been serialized.
// Disabled form elements will not be serialized.
$inputs.prop("disabled", true);
$('#chat_msg').val('');


// Fire off the request to /form.php
request = $.ajax({
url: "{{ path('homepage') }}",
type: "post",
data: postForm,
async: false //tymczasowo

//                            cache: false
});
// Callback handler that will be called on success
request.done(function (response, textStatus, jqXHR) {
// Log a message to the console
//                            console.log(jsonresponse);
console.log('faktycznie');


});
// Callback handler that will be called on failure
request.fail(function (jqXHR, textStatus, errorThrown) {
// Log the error to the console
console.error(
"The following error occurred: " +
textStatus, errorThrown
);
console.log(serializedData.valueOf('button'));
});

// Callback handler that will be called regardless
// if the request failed or succeeded
request.always(function () {
// Reenable the inputs
$inputs.prop("disabled", false);
});

});
//    });

function ajax() {
    var XHR = new XMLHttpRequest();
    XHR.onreadystatechange = function () {
        if (XHR.readyState == 4 && XHR.status == 200) {
            document.getElementById('messages').innerHTML = XHR.responseText;
        }
    };
        XHR.open('GET', '{{ path('chatload') }}', true);
        XHR.send();

    var waitXHR = new XMLHttpRequest();
    waitXHR.onreadystatechange = function () {
        if (waitXHR.readyState == 4 && waitXHR.status == 200) {
            document.getElementById('sent').innerHTML = waitXHR.responseText;
        }
    };
        waitXHR.open('GET', '{{ path('sentload') }}', true);
        waitXHR.send();
        console.log(waitXHR);
}




setInterval(function(){ajax()},5000);
//        setInterval(function(){ajax2()},5000);

</script>