<script>
    var request;

    $("#visit-form").on('submit', function (event) {

        // Prevent default posting of form - put here to work in case of errors
        event.preventDefault();

        // Abort any pending request
        if (request) {
            request.abort();
        }
        // setup some local variables
        var $form = $(this);

        // Let's select and cache all the fields
        var $inputs = $form.find("input, button");

        // Serialize the data in the form
        var serializedData = $form.serialize();

        var postForm = { //Fetch form data
            'visitor' : $('#visitor_name').val(), //Store name fields value
            'entered' : 'now'
        };
        //                        console.log(postForm);
        // Let's disable the inputs for the duration of the Ajax request.
        // Note: we disable elements AFTER the form data has been serialized.
        // Disabled form elements will not be serialized.
        $inputs.prop("disabled", true);

        // Fire off the request to /form.php
        request = $.ajax({
            url: "{{ path('homepage') }}",
            type: "post",
            data: postForm,
            async: false //tymczasowo

            //                            cache: false
        });
        // Callback handler that will be called on success
        request.done(function (response, textStatus, jqXHR) {
            // Log a message to the console
            //                            console.log(jsonresponse);
            console.log( $('#visitor_name').val() );

            //                            console.log($(this));
            $('#login').css('display', 'none');
            $('#chat').css('display', 'block');

        });
        // Callback handler that will be called on failure
        request.fail(function (jqXHR, textStatus, errorThrown) {
            // Log the error to the console
            console.error(
                    "The following error occurred: " +
                    textStatus, errorThrown
            );
            $('#taken').show();
            console.log(serializedData.valueOf('button'));
        });

        // Callback handler that will be called regardless
        // if the request failed or succeeded
        request.always(function () {
            // Reenable the inputs
            $inputs.prop("disabled", false);
        });

    });


    $("#chat-form").on('submit', function (event) {

        // Prevent default posting of form - put here to work in case of errors
        event.preventDefault();

        // Abort any pending request
        if (request) {
            request.abort();
        }
        // setup some local variables
        var $form = $(this);

        // Let's select and cache all the fields
        var $inputs = $form.find("input, button");

        // Serialize the data in the form
        var serializedData = $form.serialize();

        var postForm = { //Fetch form data
            'msg' : $('#chat_msg').val() //Store name fields value
        };
        //                        console.log(postForm);
        // Let's disable the inputs for the duration of the Ajax request.
        // Note: we disable elements AFTER the form data has been serialized.
        // Disabled form elements will not be serialized.
        $inputs.prop("disabled", true);
        $('#chat_msg').val('');


        // Fire off the request to /form.php
        request = $.ajax({
            url: "{{ path('homepage') }}",
            type: "post",
            data: postForm,
            async: false //tymczasowo

            //                            cache: false
        });
        // Callback handler that will be called on success
        request.done(function (response, textStatus, jqXHR) {
            // Log a message to the console
            //                            console.log(jsonresponse);
            console.log('faktycznie');

        });
        // Callback handler that will be called on failure
        request.fail(function (jqXHR, textStatus, errorThrown) {
            // Log the error to the console
            console.error(
                    "The following error occurred: " +
                    textStatus, errorThrown
            );
            console.log(serializedData.valueOf('button'));
        });

        // Callback handler that will be called regardless
        // if the request failed or succeeded
        request.always(function () {
            // Reenable the inputs
            $inputs.prop("disabled", false);
        });

    });
    function ajax() {
        var XHR = new XMLHttpRequest();
        XHR.onreadystatechange = function () {
            if (XHR.readyState == 4 && XHR.status == 200) {
                document.getElementById('messages').innerHTML = XHR.responseText;
            }
        };
        XHR.open('GET', '{{ path('chatload') }}', true); //stwórz actionLoad /render element.messages.html.twig
        XHR.send();
//            console.log(XHR);

        var waitXHR = new XMLHttpRequest();
        waitXHR.onreadystatechange = function () {
            if (waitXHR.readyState == 4 && waitXHR.status == 200) {
                document.getElementById('user-log').innerHTML = waitXHR.responseText;
            }
        };
        waitXHR.open('GET', '{{ path('userload') }}', true); //stwórz actionLoad /render element.messages.html.twig
        waitXHR.send();
//            console.log(XHR);
    }

    //        });
    setInterval(function(){ajax()},5000);

</script>