{#<div onload="ajax2()">#}
    {% for chat in waitLog %}
    <div id="message-{{ chat.id }}">
        <div class="icz">
        <div class="row message-bubble">
            <p class="text-muted" style="">
                 {{ chat.author }} (msg id:{{ chat.id }})
            </p>
            <button onclick="allow({{ chat.id }})" class="btn" type="button" value="Accept" ><span class="glyphicon glyphicon-unchecked"></span></button>
            <button onclick="reject({{ chat.id }})"  class="btn" type="button"  value="Reject" ><span class="glyphicon glyphicon-remove"></span></button>

{#            <form id="form-{{ loop.index }}" action="{{ path('homepage') }}" method="POST">
                <input type="hidden" name="id-{{ loop.index }}" value="{{ chat.id }}" />
                <button id="pic" class="btn" type="submit" name="change-{{ loop.index }}" value="Accept" ><span class="glyphicon glyphicon-unchecked"></span></button>

            </form>
            <form id="form2-{{ loop.index }}" action="{{ path('homepage') }}" method="POST">
                <input type="hidden" name="id2-{{ loop.index }}" value="{{ chat.id }}" />
                <button id="szc" class="btn" type="submit" name="change2-{{ loop.index }}" value="Reject" ><span class="glyphicon glyphicon-remove"></span></button>

            </form>#}
            <span>{{ chat.msg }}</span>
            <hr>
        </div>
        </div>
    </div>
    {% endfor %}
{#</div>#}