
    {% for chat in chatLog %}
        <div class="row message-bubble">
            <p class="text-muted">{{ chat.author }} ( {{ chat.date|date("F jS \\a\\t g:ia") }} )</p>
            <span>{{ chat.msg }}</span>
        </div>
    {% endfor %}