{% for chat in sendLog %}
    <div class="row message-bubble">
        <p class="text-muted">
            {% if chat.status == 2 %}accepted
            {% elseif chat.status == 3 %}rejected
            {% endif %}</p>
        <span>{{ chat.msg }}</span>
    </div>
{% endfor %}